svg {
  // border: 1px solid #ccc;
}
body {
  overflow: hidden;
}
circle.node {
  fill: lightsteelblue;
  stroke: #555;
  stroke-width: 3px;
}
circle.leaf {
  stroke: #fff;
  stroke-width: 1.5px;
}
path.hull {
  fill: lightsteelblue;
  fill-opacity: 0.3;
}
line.link {
  stroke: #333;
  stroke-opacity: 0.5;
  // pointer-events: none;
}

text {
  pointer-events: none;
  font: 10px sans-serif;
}

#socialGraph div {
      width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
}

// new graph
// #socialGraph, svg{
//   padding: 0;
//   width: 100%;
//   height: 100%;
//   position: absolute;;
//   top: 0;
//   left: 0;
//   display: inline;
// }

svg text {
      font-family: 'Lato', sans-serif !important;
      font-weight: 300 !important;
      // font-size: 14px;
      color: #1d1d1d !important;
      text-anchor: middle;
      cursor:pointer;
      stroke: white;
      text-shadow: -1px 1px 2px white;
      transition: all .35s ease;
}

svg line, svg path, svg text {
      stroke-opacity: 0.3;
      stroke-width: 3px !important;
      transition: all .35s ease;
}

.node-person {
      fill: #EC644B;
}

.node-institutions {
      fill: #4183D7;
}

.node-meetings {
      fill: #F4D03F;
}

.node-group {
      fill: #A2DED0;
}


.link-cowork {
      stroke: #EC644B;
      stroke-linecap : round;
      stroke-dasharray : 5px, 10px;
}

.link-personal {
      stroke: #4183D7;
}

.link-sponsored {
      stroke: #F4D03F;
      stroke-linecap : round;
      stroke-dasharray : 5px, 10px;
}

.link-influenced {
      stroke: #A2DED0;
}
